body {
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-size: 18px;
}

.linklist {
	border-left: 5px solid #006699;
	margin-left: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 0px;
	font-size: 0.8em;
}
li {
	margin-left: 30px;
	padding: 3px 0 3px 3px;
}
.odd {
	background-color: #34236c;
}

